.footer__section {
  font-family: $body-font;
  padding-top: 30px;
  padding-left: 40px;
  background: $dark-blue;
}

.footer__brand {
  margin-top: 40px;
}

.footer__phone-container,
.footer__email-container {
  display: block;
  margin-top: 40px;
  font-size: 1.1em;
}

.footer__phone,
.footer__email {
  color: white;
  text-decoration: none;
  cursor: pointer;

  img {
    vertical-align: middle;
    margin-right: 15px;
  }

  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.footer__email {
  margin-top: 20px;
}

.footer__nav ul {
  padding: 0;
  margin-top: 50px;
}

.footer__nav__item {
  text-decoration: none;
  margin: 10px auto;
  list-style: none;
}

.footer__nav__link {
  color: white;
  text-decoration: none;
}

.footer__social-media-container {
  margin-left: -40px;
  padding: 50px 0;
  text-align: center;
  background: $dark-blue;
}

.footer__social-media-icons {
  margin: 0 5px;
  width: 25px;
  cursor: pointer;
}
