// styling for navbar

.section {
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.9rem;
  margin: 15px auto;
  font-family: $head-font;
}

.navbar__branding {
  width: 80px;
  margin-left: 10px;
  flex-basis: auto;
}

.navbar__nav {
  display: inline-block;
  list-style: none;
  font-size: 0.75em;
  font-weight: $regular;
}

.navbar__nav__item {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
