//scss for main section

.section-1 {
  width: 100%;
}

.main__section {
  position: relative;
  font-family: $body-font;
  text-align: center;
  margin: 0 5%;

  @include md {
    display: flex;
    flex-flow: space-between;
  }
}

.main__image {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;

  // medium screens
  @include md {
    width: 45%;
    height: 100%;
    margin-top: 20px;
    margin-right: 40px;
    order: 2;
  }
}

.main__heading-text-container {
  @include sm {
    width: 50%;
    order: 1;
  }
}

.main__heading {
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: $bold;
  margin-top: 35px;

  // small screens
  @include sm {
    text-align: left;
    width: 80%;
    margin-top: 60px;
    font-size: 2em;
  }

  // medium screens
  @include md {
    text-align: left;
    width: 80%;
    margin-top: 60px;
    font-size: 2em;
  }

  // large screens
  @include lg {
    text-align: left;
    width: 80%;
    margin: 0;
    margin-top: 60px;
    font-size: 2.2em;
  }

  // extra large screens
  @include xl {
    text-align: left;
    width: 80%;
    margin-top: 60px;
    font-size: 2.8em;
  }
}

.main__text {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 0.9em;
  font-weight: $regular;
  line-height: 1.5;

  // small screens
  @include sm {
    text-align: left;
    font-size: 1em;
  }

  // medium screen
  @include md {
    font-size: 1em;
  }

  // large screens
  @include lg {
    font-size: 1.2em;
    margin: 0;
  }
  // extra large screens
  @include xl {
    text-align: left;
    font-size: 1.3em;
  }
}

.main__input {
  margin-top: 25px;
  width: 300px;
  height: 40px;

  @include lg {
    display: inline-block;
    width: 250px;
    height: 45px;
    font-size: 14px;
    padding-left: 20px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
    &::-webkit-input-placeholder {
      line-height: 90%;
    }

    // extra large screens
    @include xl {
      float: left;
      width: 350px;
      height: 50px;
    }
  }
}

.main__button {
  font-size: 14px;
  width: 300px;
  height: 40px;
  margin-top: 20px;

  @include lg {
    display: inline-block;
    margin-left: 10px;
    width: 150px;
    height: 45px;
  }

  @include xl {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    height: 50px;
  }
}
