.section-2 {
  font-family: "Open Sans", sans-serif;
}

.section-2__img-1 {
  margin-top: 90px;
  width: 100%;
}

.section-2__container {
  margin-top: -5px;
  background: rgb(248, 248, 254);
}

.section-2__img {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  padding-top: 30px;
  width: 90%;
}

.title-heading {
  margin-top: 80px;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}

.text {
  width: 90%;
  font-weight: 400;
}
