//scss for section-2

.section-2 {
  font-family: $body-font;
}

.section-2__img-1 {
  margin-top: 90px;
  width: 100%;
}

.section-2__container {
  margin-top: -5px;
  background: $steel;
  //background: rgb(248, 248, 254);
}

.section-2__img {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  padding-top: 30px;
  width: 90%;
}

.title-heading {
  margin-top: 80px;
  text-align: center;
  font-size: 1em;
  font-weight: $bold;
}

.text {
  width: 90%;
  font-weight: $regular;
}

.section-2__link-container {
  margin-top: 30px;
  text-align: center;
}

.section-2__link {
  padding: 5px 0;
  display: inline-block;
  font-size: 0.8em;
  font-weight: $regular;
  text-align: center;
  color: $cyan;
  border-bottom: 1px solid $cyan;
}

.section-2__arrow {
  margin-left: 5px;
  padding-bottom: 1px;
  vertical-align: middle;
}

.testimonial__frame {
  margin: 35px auto;
  width: 80%;
  background: white;
  border-radius: 3px;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
}

.testimonial__container {
  width: 80%;
  margin: 0 auto;
}

.testimonial__quotes {
  margin-top: 25px;
  margin-bottom: -10px;
  width: 10px;
}

.testimonial__text {
  padding: 5px;
  padding-top: 0;
  font-size: 0.6em;
  font-weight: $regular;
  line-height: 2;
}

.testimonial__widget-container {
  vertical-align: middle;
}

.testimonial__widget__avatar {
  border-radius: 50%;
  width: 12%;
  vertical-align: middle;
}

.testimonial__widget-name {
  font-size: 0.4em;
  font-weight: $bold;
  display: inline-block;
}

.testimonial__widget-role {
  //display: block;
  font-size: 7px;
  font-weight: $regular;
}
