.section-3 {
  background: $blue;
  text-align: center;
  font-family: $body-font;
  padding-bottom: 50px;
}

.action__container {
  @include lg {
    display: flex;
    justify-content: space-between;
  }
}

.action__container-sub-1 {
  display: block;
  margin: 0 auto;
  @include lg {
    order: 1;
    width: 50%;
    margin-left: 80px;
  }
}

.action__title__heading {
  margin: 0 auto;
  color: white;
  font-size: 1.1em;
  font-weight: $bold;
  padding-top: 50px;

  @include lg {
    margin-left: 0;
    width: 100%;
    text-align: left;
    font-size: 2em;
  }

  @include xl {
    font-size: 2.2em;
  }
}

.action__text {
  color: white;
  font-size: 0.9em;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;

  @include lg {
    margin-left: 0;
    text-align: left;
    width: 70%;
    font-size: 1.1em;
  }

  @include xl {
    width: 80%;
  }
}

.action__container-sub-2 {
  display: block;
  margin: 0 auto;
  @include lg {
    order: 2;
    margin-top: 80px;
    margin-left: 0;
    width: 50%;
  }
}

.action__input {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 250px;
  height: 30px;
  border-radius: 2px;

  @include md {
    display: inline-block;
    margin-right: 10px;
    border: none;
  }

  @include lg {
    display: block;
    width: 80%;
    height: 60px;
    margin-left: 0;

    &::placeholder {
      font-size: 1.3em;
    }
    &::-webkit-input-placeholder {
      line-height: 90%;
    }
  }
}

.action__button {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
  border-radius: 2px;
  background: $bright-blue;
  border: none;
  color: white;
  font-weight: $bold;

  @include lg {
    display: block;
    margin-top: 15px;
    margin-left: 0px;
    height: 50px;
    text-align: center;
    font-size: 0.9em;
  }

  @include xl {
    width: 200px;
  }
}
