.team__frame {
  background: $blue;
  padding-top: 20px;
}

.team {
  padding: 0;
}

.team__card {
  margin: 0 auto;
  width: 250px;
  color: white;
  font-size: 1em;
  text-align: center;
  list-style: none;
}
